*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e9ecee;
    padding: 5px;
    overflow: hidden;
}


h1 {
    margin: 0 0 20px;
}

#orgs{
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.org-column{
    display: inline-flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

.button_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    width: 96%;
    justify-content: space-between;
}

.back_arrow{
    display: none;
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 5.5px;
}

.back_arrow:hover{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: ease-out .2s;
}

.cred_button{
    margin: 5px 0px;
    padding: 10px;
    background-color: #2182bf;
    color: #fff;
    border: 0;
    border-radius: 40px;
    width: 150px;
    text-align: center;
}

.cred_button:hover{
    background-color: #3d9cd6;
    cursor: pointer;
}

.text {
    text-align: center;
    margin: 43px 0;
    font-size: 12px;
}

.disable{
    background-color: rgb(163, 163, 163);
    cursor: not-allowed;
}

.disable:hover{
    background-color: rgb(163, 163, 163);
    cursor: not-allowed;
}